<div class="navbar">
    <div class="logo"><a href="#fxify-futures">FXIFY <span>Futures<sup>™</sup></span></a></div>
<div class="nav-links">
  <a href="#plans"><span class="prefix">0.1/</span> Plans</a>
  <a href="#how-it-works"><span class="prefix">0.2/</span> How it Works</a>
  <a href="#affiliate"><span class="prefix">0.3/</span> Affiliate</a>
  <a href="#faq"><span class="prefix">0.4/</span> FAQ</a>
</div>
<div class="nav-buttons">
    <button class="login-btn"  type="button" [routerLink]="'/login'">Login</button>
    <button class="get-funded-btn">Get Funded →</button>
</div>